./target
.classpath
.project
.settings

discovertheway-android/target
discovertheway-android/.classpath
discovertheway-android/.project
discovertheway-android/.settings
discovertheway-android/libs/
discovertheway-android/.externalToolBuilders/
discovertheway-android/gen/

discovertheway-core/target
discovertheway-core/.classpath
discovertheway-core/.project
discovertheway-core/.settings

discovertheway-desktop/target
discovertheway-desktop/.classpath
discovertheway-desktop/.project
discovertheway-desktop/.settings

