./target
.classpath
.project
.settings

superflyingthing-android/target
superflyingthing-android/.classpath
superflyingthing-android/.project
superflyingthing-android/.settings
superflyingthing-android/libs/
superflyingthing-android/.externalToolBuilders/
superflyingthing-android/gen/

superflyingthing-core/target
superflyingthing-core/.classpath
superflyingthing-core/.project
superflyingthing-core/.settings

superflyingthing-desktop/target
superflyingthing-desktop/.classpath
superflyingthing-desktop/.project
superflyingthing-desktop/.settings

